<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Red Crescent Mayalsia </title>
        <meta name="author" content="iThemesLab">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicons -->
        <link rel="shortcut icon" href="assets/favicon/favicon.ico">
        <link rel="apple-touch-icon" href="assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    
        <!-- load google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400,600,700,800" rel="stylesheet">
        
        <!-- all stylesheets include start -->
        <!-- bootstrap v3.3.7 css -->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <!-- revolution slider css -->
        <link rel="stylesheet" href="assets/css/rev_slider/settings.css">
        <link rel="stylesheet" href="assets/css/rev_slider/navigation.css">
        <!-- fontawesome css -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <!-- ET Lineicon CSS -->
        <link rel="stylesheet" href="assets/css/lineicon.css">
        <!-- Light Box CSS -->
        <link rel="stylesheet" href="assets/css/lightbox.css">
        <link rel="stylesheet" href="assets/css/jquery-ui.min.css">

        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        <link rel="stylesheet" href="assets/css/owl.theme.css">
        <link rel="stylesheet" href="assets/css/owl.transitions.css">

        <!-- theme style css -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- all stylesheets include end -->
    </head>
    <body>
        <div id="container">
		
		
        <!-- Start Footer Section-->
        <section class="pad-t100 pad-b70 footer-section" style="background-color: #111;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4" style="margin-bottom: 30px;">
                     <h3>  <a style="color:#fff;">ABOUT US</a></h3>
						<!--img src="assets/images/logo/mlogo.png" class="footer-logo" alt="Footer Logo"-->
                        <div class="footer-text">
                            <p>Human dignity and peace throughout the world. Prevent and alleviate human suffering through humanitarian activities and actions.

 </p>
                            <p> MEMBERS
    The Malaysian Red Crescent(MRC) (Chapter Klang) has several members.

</p>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-4" style="margin-bottom: 30px;">
                        <div class="section-title-2 white">
                            <h3>SOCIAL MEDIA</h3>
                        </div>
                      
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="col-md-4 col-sm-4" style="margin-bottom: 30px;">
                        <div class="section-title-2 white">
                            <h3>Contact</h3>
                        </div>
                        <p>No.7A,Jalan tengku Diauddin,41000,Klang ,Selangor Darulehsan.</p>
                        <p>Tel: 603-33727454 </p>
                        <p>Email: mrcstraining@yahoo.com.my</p>
                        <!--p>Working Hours: 8:00 a.m - 17:00 a.m</p-->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Section-->
		
		 <!-- Start Copyright Section -->
        <section class="copyright-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>Copyright © 2017 - by <!--i class="fa fa-heart"></i--><a href="http://denariusoft.com" target="_blank">denariusoft</a></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-nav">
                            <!-- <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Joomla</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Copyright Section -->

        <div id="back-to-top" class="back-to-top reveal">
            <i class="fa fa-angle-up fa-2x"></i>
        
		
	</div>
</body>
</html>	
       