<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Red Crescent Mayalsia </title>
        <meta name="author" content="iThemesLab">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicons -->
        <link rel="shortcut icon" href="assets/favicon/favicon.ico">
        <link rel="apple-touch-icon" href="assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    
        <!-- load google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400,600,700,800" rel="stylesheet">
        
        <!-- all stylesheets include start -->
        <!-- bootstrap v3.3.7 css -->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <!-- revolution slider css -->
        <link rel="stylesheet" href="assets/css/rev_slider/settings.css">
        <link rel="stylesheet" href="assets/css/rev_slider/navigation.css">
        <!-- fontawesome css -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <!-- ET Lineicon CSS -->
        <link rel="stylesheet" href="assets/css/lineicon.css">
        <!-- Light Box CSS -->
        <link rel="stylesheet" href="assets/css/lightbox.css">
        <link rel="stylesheet" href="assets/css/jquery-ui.min.css">

        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.css">
        <link rel="stylesheet" href="assets/css/owl.theme.css">
        <link rel="stylesheet" href="assets/css/owl.transitions.css">

        <!-- theme style css -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- all stylesheets include end -->
    </head>
    <body>
        <div id="container">
       
   <!-- slideshow area start -->
        <div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="photography1" style="background-color:transparent;padding:0px;">
            <div id="rev_slider_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-1" data-transition="3dcurtain-vertical" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/slideshow/slider_1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                   </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-2" data-transition="slotslide-horizontal" data-title="Slide 2">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/slideshow/slider_2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3" data-transition="3dcurtain-vertical" data-title="Slide 3">
                        <!-- MAIN IMAGE -->
                        <img src="assets/images/slideshow/slider_3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
            </li>
                </ul>
            </div>
        </div> <!--#rev_slider_1_wrapper-->
        <!-- slideshow area end -->
		
		 <!-- all js include start -->
        <!-- jquery latest version -->
        <script src="assets/js/jquery-3.1.1.min.js"></script>
        <!-- bootstrap latest version -->
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>

        <!-- revolution slider js files start -->
        <script src="assets/js/rev_slider/jquery.themepunch.tools.min.js"></script>
        <script src="assets/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
        
        <script src="assets/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="assets/js/rev_slider/extensions/revolution.extension.video.min.js"></script>
        <!-- revolution slider js files end -->

        <!-- Other jQuery library -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/jquery.isotope.min.js"></script>
        <script src="assets/js/lightbox.js"></script>
        <script src="assets/js/owl.carousel.js"></script>
        <script src="assets/js/jquery.easypiechart.js"></script>
        <script src="assets/js/jquery.mb.YTPlayer.js"></script>
        <script src="assets/js/jquery.ui.core.min.js"></script>
        <script src="assets/js/jquery-ui-1.9.2.datepicker.min.js"></script>
        

        <!-- template main js file -->
        <script src="assets/js/main.js"></script>
        <!-- all js include end -->
		</body>
		</html>